<h1>Leaderboard</h1>
<div class="subheading">{{ nb_ranked_players }} ranked players</div>
<div class="leaderboard-section">
  {{#the_one}}
  <div class="leaderboard-focus">
    <p class="ranking">The One</p>
    <p class="username"><a href="/u/{{ user_id }}">{{ username }}</a></p>
    <p class="elo-value">{{ elo }}</p>
    <p class="elo">ELO</p>
  </div>
  {{/the_one}}
  <table class="leaderboard">
    <tbody>
      {{#players}}
      <tr>
        <td>{{ ranking }}</td>
        <td><a href="/u/{{ user_id }}">{{ username }}</a></td>
        <td>{{ elo }}</td>
        <td>ELO</td>
      </tr>
      {{/players}}
    </tbody>
  </table>
  <div class="pagination">
    <a href="/leaderboard/page-{{ pagination.previous }}/"><span class="left-arrow">‹</span>Previous</a>
    <div class="number-nav">
      {{# pagination.pages }}
      <a {{# is_current }}class="current-page"{{/ is_current }} href="/leaderboard/page-{{ number }}/">{{ number }}</a>
      {{/ pagination.pages }}
    </div>
    <a href="/leaderboard/page-{{ pagination.next }}/">Next<span class="right-arrow">›</span></a>
  </div>
</div>