<h1>Leaderboard</h1>
<div class="subheading">
  <span>{{ nb_ranked_players }} ranked players </span>
</div>
<div class="search-button">
  <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
    width="24" height="24"
    viewBox="0 0 24 24"><path d="M 9 2 C 5.1458514 2 2 5.1458514 2 9 C 2 12.854149 5.1458514 16 9 16 C 10.747998 16 12.345009 15.348024 13.574219 14.28125 L 14 14.707031 L 14 16 L 20 22 L 22 20 L 16 14 L 14.707031 14 L 14.28125 13.574219 C 15.348024 12.345009 16 10.747998 16 9 C 16 5.1458514 12.854149 2 9 2 z M 9 4 C 11.773268 4 14 6.2267316 14 9 C 14 11.773268 11.773268 14 9 14 C 6.2267316 14 4 11.773268 4 9 C 4 6.2267316 6.2267316 4 9 4 z"></path>
  </svg>
  <input type="text" placeholder="Search">
  <div class="search-results">

  </div>
</div>
<div class="search-background"></div>
<div class="leaderboard-section">
  {{#the_one}}
  <div class="leaderboard-focus">
    <p class="ranking">The One</p>
    <p class="username"><a href="/u/{{ user_id }}">{{ username }}</a></p>
    <p class="elo-value">{{ elo }}</p>
    <p class="elo">ELO</p>
  </div>
  {{/the_one}}
  <table class="leaderboard">
    <tbody>
      {{#players}}
      <tr>
        <td>{{ ranking }}</td>
        <td><a href="/u/{{ user_id }}">{{ username }}</a></td>
        <td>{{ elo }}</td>
        <td>ELO</td>
      </tr>
      {{/players}}
    </tbody>
  </table>
  <div class="pagination">
    <a href="/leaderboard/page-{{ pagination.previous }}/"><span class="left-arrow">‹</span>Previous</a>
    <div class="number-nav">
      {{# pagination.pages }}
      <a {{# is_current }}class="current-page"{{/ is_current }} href="/leaderboard/page-{{ number }}/">{{ number }}</a>
      {{/ pagination.pages }}
    </div>
    <a href="/leaderboard/page-{{ pagination.next }}/">Next<span class="right-arrow">›</span></a>
  </div>
</div>