<div class="heading">
  <div class="heading-left">
    <img src="https://s.ppy.sh/a/{{ user_id }}" />
  </div>
  <div class="heading-right">
    <h1>{{ username }}</h1>
    <div class="subheading">User ID: {{ user_id }}</div>
  </div>
</div>
<div class="user-section">
  <div class="user-focus">
    <div class="user-focus-block">
      <span>{{ rank.text }}</span>
      <span>Rank #{{ rank.rank_nb }}</span>
    </div>
    <div class="user-focus-block">
      <span>{{ games_played }}</span>
      <span>Games Played</span>
    </div>
    <div class="user-focus-block">
      <span>{{ elo }}</span>
      <span>Elo</span>
    </div>
  </div>
  <h2>Match History</h2>
  <table class="match-history">
    <thead>
      <tr>
        <td class="map">Map</td>
        <td>Placement</td>
        <td>Elo change</td>
        <td>Time</td>
      </tr>
    </thead>
    <tbody>
      {{# matches }}
      <tr>
        <td class="map"><a href="https://osu.ppy.sh/beatmapsets/{{ map.set_id }}#osu/{{ map.id }}">{{ map.name }}</a></td>
        <td>{{ placement }}/{{ players_in_match }}</td>
        <td
          {{# negative }}class="red"{{/ negative }}
          {{# positive }}class="green"{{/ positive }}
        >
          {{# positive }}+{{/positive}}{{ elo_change }}
        </td>
        <td data-tms="{{ tms }}">{{ time }}</td>
      </tr>
      {{/ matches }}
    </tbody>
  </table>
  <div class="pagination">
    <a href="/u/{{ user_id }}/page-{{ pagination.previous }}/"><span class="left-arrow">‹</span>Previous</a>
    <div class="number-nav">
      {{# pagination.pages }}
      <a {{# is_current }}class="current-page"{{/ is_current }} href="/u/{{ user_id }}/page-{{ number }}/">{{ number }}</a>
      {{/ pagination.pages }}
    </div>
    <a href="/u/{{ user_id }}/page-{{ pagination.next }}/">Next<span class="right-arrow">›</span></a>
  </div>
</div>