html {
  height: 100%;
}
body {
	display: flex;
	flex-direction: row;
	width: 100%;
  min-height: 100%;
	font-family: "Segoe UI", sans-serif;
	font-size: 25px;
  transition: color .3s ease-in-out;
}
body.dark-mode {
  color: rgb(211, 211, 211);
}
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
  z-index: 2;
	display: flex;
	flex-direction: column;
	width: 180px;
	height: 100%;
	background-color: #eeeeee;
  transition: background .3s ease-in-out;
}
body.dark-mode .sidebar {
  background-color: #292727;
}
.sidebar .logo {
	margin-top: 45px;
	margin-left: auto;
	margin-right: auto;
}
.sidebar .logo img {
	width: 90px;
}
.sidebar nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	margin: 60px;
}
.sidebar nav .other-links {
  display: flex;
  flex-direction: column;
}
.sidebar nav a {
	width: 60px;
	height: 60px;
	margin-bottom: 30px;
	border: solid transparent 0;
	border-radius: 100%;
}
.sidebar nav a:hover {
	background-color: white;
}
.sidebar nav a:last-of-type {
	margin-bottom: 0;
}
.sidebar nav a img {
	width: 30px;
	margin: 15px;
	height: auto;
	filter: invert(82%) sepia(0%) saturate(1%) hue-rotate(334deg) brightness(92%) contrast(82%);
}
.sidebar nav a:hover img {
	filter: invert(48%) sepia(49%) saturate(712%) hue-rotate(282deg) brightness(96%) contrast(84%);
}
.red {
    color: red;
}
.green {
    color: green;
}
main {
	position: relative;
	left: 180px;
	padding: 60px 120px;
}
h1 {
	font-size: 2em;
	font-weight: 700;
}
.subheading {
	margin-top: 30px;
	margin-bottom: 40px;
	font-size: 1em;
	font-weight: 700;
}
nav a span {
    position: relative;
    top: calc(-97.5px/2);
    left: 105px;
    z-index: 999;
    display: none;
    padding: 10px 15px;
    margin-left: -10px;
    border: solid 0 transparent;
    border-radius: 10px;
    background-color: #e3609a;
    font-size: .5em;
    font-weight: 700;
    color: white;
    pointer-events: none;
    transition: margin .3s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 150ms;
    transition: background .3s ease-in-out;
}
body.dark-mode nav a span {
  background-color: #c94580;
}
nav a span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: calc(50% - 7.5px);
    left: -7px;
    border: 7px solid transparent;
    border-left: none;
    border-right-color: #e3609a;
    transition: border .3s ease-in-out;
}
body.dark-mode nav a span::before {
  border-right-color: #c94580;
}
nav a:hover span {
    margin-left: 0;
    display: inline-block;
}
main {
    width: calc(100% - 420px);
    transition: background .3s ease-in-out;
}
body.dark-mode main {
  background-color: #383636;
}
.leaderboard-section .leaderboard-focus {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 45px 60px;
    border: solid #e3609a 3px;
    border-radius: 10px;
    transition: border .3s ease-in-out;
}
body.dark-mode .leaderboard-section .leaderboard-focus {
  border-color: #c94580;
}
.leaderboard-section .leaderboard-focus p {
    font-size: 1.5em;
    font-weight: 700;
}
.leaderboard-section .leaderboard-focus p a {
    color: black;
    text-decoration: none;
    transition: color .3s ease-in-out;
}
body.dark-mode .leaderboard-section .leaderboard-focus p a {
  color: rgb(211, 211, 211);
}
.leaderboard-section .leaderboard-focus p.ranking {
    color: #e3609a;
    transition: color .3s ease-in-out;
}
body.dark-mode .leaderboard-section .leaderboard-focus p.ranking {
  color: #c94580;
}
.leaderboard-section .leaderboard-focus p.username {
    margin-left: 30px;
}
.leaderboard-section .leaderboard-focus p.elo-value {
    margin-left: auto;
    font-size: 1em;
}
.leaderboard-section .leaderboard-focus p.elo {
    margin-left: 30px;  
    font-size: 1em;
    font-weight: 600;
    font-variant: small-caps;
    text-transform: lowercase;
    color: #e3609a; 
    transition: color .3s ease-in-out;
}
body.dark-mode .leaderboard-section .leaderboard-focus p.elo {
  color: #c94580;
}
.leaderboard-section .leaderboard {
    display: block;
    margin-top: 60px;
}
tbody {
    display: flex;
    flex-direction: column;
}
tbody tr {
    display: inline-flex;
    justify-content: space-between;
    padding: 15px 30px;
    border: solid #eee 3px;
    border-radius: 10px;
}
tbody tr:nth-of-type(odd) {
    border-color: transparent;
}
tbody tr td {
    font-size: 1em;
    font-weight: 700;
}
tbody tr td a {
    color: black;
    text-decoration: none;
    transition: color .3s ease-in-out;
}
body.dark-mode tbody tr td a {
  color: rgb(211, 211, 211);
}
.leaderboard tbody tr td {
    margin-left: 30px;
}
.leaderboard tbody tr td:first-of-type {
    margin-left: 0;
}
.leaderboard tbody tr td:nth-of-type(3) {
    margin-left: auto;
}
.leaderboard tbody tr td:last-of-type {
    font-size: 1em;
    font-weight: 600;
    font-variant: small-caps;
    text-transform: lowercase;
    color: #e3609a;
    transition: color .3s ease-in-out;
}
body.dark-mode .leaderboard tbody tr td:last-of-type {
  color: #c94580;
}
.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.pagination > a {
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    color: black;
    transition: color .3s ease-in-out;
}
body.dark-mode .pagination > a {
  color: rgb(211, 211, 211);
}
.pagination .left-arrow {
    margin-right: 15px;
    color: #e3609a;
    transition: color .3s ease-in-out;
}
.pagination .right-arrow {
    margin-left: 15px;
    color: #e3609a;
    transition: color .3s ease-in-out;
}
body.dark-mode .pagination .left-arrow,
body.dark-mode .pagination .right-arrow {
  color: #c94580;
}
.pagination .number-nav a {
    display:inline-block;
    padding-bottom: 6px;
    border-bottom: solid transparent 3px;
    margin: 0 15px;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    color: #b5b5b5;
}
.pagination .number-nav a.current-page {
    color: black;
    border-bottom: solid #e3609a 3px;
    transition: color .3s ease-in-out;
    transition: border .3s ease-in-out;
}
body.dark-mode .pagination .number-nav a.current-page {
  color: rgb(211, 211, 211);
  border-bottom-color: #c94580;
}
.heading {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 60px;
}
.heading .heading-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 105px;
    padding: 7.5px;
    border: solid 3px #eeeeee;
    border-radius: 100%;
}
.heading .heading-left img {
    width: 90px;
    height: 90px;
    border: solid 0 transparent;
    border-radius: 100%;
}
.heading .heading-right {
    margin-left: 60px;
}
.heading .heading-right .subheading {
    margin-bottom: 0;
    display: block;
    color: unset;
}
.user-section .user-focus {
    display: flex;
}
.user-section .user-focus .user-focus-block {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 45px 60px;
    border: solid #e3609a 3px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 700;
    transition: border .3s ease-in-out;
}
body.dark-mode .user-focus .user-focus-block {
  border-color: #c94580;
}
.user-section .user-focus .user-focus-block:nth-of-type(2) {
    margin: 0 60px;
}
.user-section .user-focus .user-focus-block span {
    text-align: center;
}
.user-section .user-focus .user-focus-block span:first-of-type {
    margin-bottom: 30px;
    font-size: 2em;
    color: #e3609a;
    transition: color .3s ease-in-out;
}
body.dark-mode .user-focus .user-focus-block span:first-of-type {
  color: #c94580;
}
h2 {
    font-size: 1.5em;
    font-weight: 700
}
.user-section h2 {
    margin: 60px 0;
}
.user-section .match-history {
    display: block;
}
thead {
    display: flex;
    flex-direction: column;
}
thead tr {
    display: inline-flex;
    justify-content: space-between;
    padding: 15px 30px;
    border: solid #e3609a 3px;
    border-radius: 10px;
    transition: color .3s ease-in-out;
}
body.dark-mode thead tr {
  border-color: #c94580;
}
thead tr td {
    font-size: 1em;
    font-weight: 700;
}
.match-history td {
    display: inline-block;
    width: 195px;
    text-align: center;
}
.match-history .map {
    flex-grow: 2;
}

/* Theme switcher */

.switcher-container {
  position: absolute;
  z-index: 2;
  right: 100px;
  top: 45px;
  height: 80px;
  width: 80px;
}
.switcher {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity .4s ease-in-out;
  cursor: pointer;
}
body:not(.dark-mode) .switcher-moon {
  z-index: 0;
  opacity: 0;
}
body.dark-mode .switcher-sun {
  z-index: 0;
  opacity: 0;
}
.switcher-moon .switcher-circle {
  fill: #344E5D;
}
.switcher.fadeout {
  opacity: 0;
}
.switcher.fadein {
  display: block !important;
  opacity: 1 !important;
}
.switcher-moon .switcher-object {
  fill: #F1EB75;
}
.switcher-sun .switcher-circle {
  fill: #F2BE3E;
}
.switcher-sun .switcher-object {
  fill: #F1EB75;
}
.search-button {
  cursor: pointer;
  position: absolute;
  z-index: 51;
  right: 200px;
  top: 63px;
  height: 30px;
  align-items: center;
  border: 2px solid black;
  background-color: white;
  border-radius: 30px;
  padding: 5px;
  transition: border .3s ease-in-out, background .3s ease-in-out;
}
.search-button .search-icon {
  position: relative;
  top:  4px;
  left: 5px;
  fill: black;
  transition: fill .3s ease-in-out;
}
body.dark-mode .search-button .search-icon {
  fill: rgb(211, 211, 211);
}
.search-button.active {
  transition: background .3s ease-in-out;
  border-color: #c94580 !important;
}
body.dark-mode .search-button {
  border-color: rgb(211, 211, 211);
  background-color: #383636;
}
.search-button input {
  position: relative;
  vertical-align: top;
  width: 0;
  background-color: unset;
  border: none;
  outline: none;
  color: black;
  font-size: 20px;
  transition: width .3s ease-in-out, color .3s ease-in-out;
}
body.dark-mode .search-button input {
  color: rgb(211, 211, 211);
}
.search-button input:focus, .search-button input:not(:placeholder-shown) {
  width: 350px;
  margin: 3px 13px 0 8px;
  cursor: text;
}
.search-results {
  position: absolute;
  box-sizing: border-box;
  top: 115%;
  left: 0;
  background-color: white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 100%;
  display: none;
  transition: background .3s ease-in-out;
}
body.dark-mode .search-results {
  background-color: #3f3e3e;
}
.search-button.active .search-results {
  display: block;
}
.search-results .search-result-item {
  display: flex;
  border: 2px solid black;
  border-bottom: none;
  justify-content: space-between;
  color: black;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}
body.dark-mode .search-results .search-result-item {
  border-color: rgb(211, 211, 211);
  color: rgb(211, 211, 211);
}
.search-results .search-result-item:last-child {
  border-bottom: 2px solid black;
}
body.dark-mode .search-results .search-result-item:last-child {
  border-bottom-color: rgb(211, 211, 211);
}
.search-results .search-result-item:focus:not(.not-found),
.search-results .search-result-item:hover:not(.not-found),
.search-results .search-result-item.active:not(.not-found) {
  color: #c94580 !important;
  border-color: #c94580 !important;
  border-width: 4px;
}
.search-results .search-result-item:focus:not(.not-found) + .search-result-item,
.search-results .search-result-item:hover:not(.not-found) + .search-result-item,
.search-results .search-result-item.active:not(.not-found) + .search-result-item {
  border-top-color: #c94580;
  border-top-width: 4px;
}
.search-button + .search-background {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 50;
}
body.dark-mode .search-button + .search-background {
  background-color: rgba(255, 255, 255, 0.2);
}
.search-button.active + .search-background {
  display: block;
}

@media screen and (max-width:1400px) {
    body {
        font-size: 21px;
    }
    .sidebar {
        width: 150px;
    }
    .sidebar nav {
        margin: 45px;
    }
    nav a span {
        left: 90px;
    }
    .sidebar .logo img {
        width: 75px;
    }
    main {
        left: 150px;
        width: calc(100% - 330px);
        padding: 45px 90px;
    }
    .subheading {
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .leaderboard-section .leaderboard {
        margin-top: 30px;
    }
    .pagination {
        margin-top: 30px;
    }
    .heading {
        margin-bottom: 45px;
    }
    .heading .heading-left {
        width: 82.5px;
        height: 82.5px;
    }
    .heading .heading-left img {
        width: 75px;
        height: 75px;
    }
    .heading .heading-right {
        margin-left: 45px;
    }
    .user-section h2 {
        margin: 45px 0;
    }
    .user-section .user-focus {
        flex-wrap: wrap;
    }
    .user-section .user-focus .user-focus-block {
        padding: 30px 45px;
    }
    .user-section .user-focus .user-focus-block:first-of-type {
        width: 100%;
        margin-bottom: 45px;
    }
    .user-section .user-focus .user-focus-block:nth-of-type(2) {
        margin-left: 0;
        margin-right: 45px;
    }
    .user-section .user-focus .user-focus-block span:first-of-type {
        margin-bottom: 22.5px;
    }
    .switcher-container {
      right: 70px;
      top: 25px;
    }
    .search-button {
      right: 160px;
      top: 43px;
    }
}
@media screen and (max-width:1200px) {
    .leaderboard-section .leaderboard-focus {
        flex-wrap: wrap;
        padding: 30px 45px;
    }
    .leaderboard-section .leaderboard-focus p.ranking {
        width: 50%;
    }
    .leaderboard-section .leaderboard-focus p.username {
        width: 100%;
        margin-top: 15px;
        margin-left: 0;
    }
    .leaderboard-section .leaderboard-focus p.elo-value {
        margin-top: 20px;
        margin-left: 0;
    }
    .leaderboard-section .leaderboard-focus p.elo {
        margin-top: 20px;
        margin-left: 7.5px;
    }
    .match-history td {
        font-size: .75em;
    }
}
@media screen and (max-width:991px) {
    body {
        font-size: 19px;
    }
    .heading .heading-left {
        width: 67.5px;
        height: 67.5px;
    }
    .heading .heading-left img {
        width: 62.5px;
        height: 62.5px;
    }
    .heading .heading-right {
        margin-left: 30px;
    }
    .user-section .user-focus .user-focus-block:first-of-type {
        margin-bottom: 30px;
    }
    .user-section .user-focus .user-focus-block:nth-of-type(2) {
        margin-right: 30px;
    }
    .user-section h2 {
        margin: 30px 0;
    }
}
@media screen and (max-width:900px) {
    .sidebar .logo {
        margin-top: 30px;
    }
    .sidebar nav {
        align-items: center;
        margin: 30px;
    }
    .sidebar nav a {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-decoration: none;
    }
    .sidebar nav a:hover {
        background-color: transparent;
    }
    .sidebar nav a img {
        margin-left: auto;
        margin-right: auto;
    }
    .sidebar nav a:last-of-type {
        margin-bottom: 30px;
    }
    nav a span {
        position: static;
        display: inline-block;
        opacity: 1;
        pointer-events: auto;
        margin-left: 0;
        font-size: .5em;
        text-align: center;
    }
    
    body {
        font-size: 18px;
    }
    main {
        width: calc(100% - 240px);
        padding: 30px 45px;
    }
    .subheading {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .leaderboard-section .leaderboard-focus {
        padding: 30px;
    }
    .leaderboard-section .leaderboard {
        margin-top: 15px;
    }
    .heading {
        margin-bottom: 30px;
    }
    .heading .heading-left {
        width: 50px;
        height: 50px;
    }
    .heading .heading-left img {
        width: 50px;
        height: 50px;
    }
    .switcher-container {
      right: 30px;
      top: 10px;
    }
    .search-button {
      right: 110px;
      top: 28px;
    }
}
@media screen and (max-width:820px) {
    .leaderboard tbody tr td:last-of-type {
        display: none;
    }
}
@media screen and (max-width:780px) {
    .leaderboard tbody tr td:nth-of-type(3) {
        display: none;
    }
    .leaderboard tbody tr {
        justify-content: flex-start;
    }
    .pagination .number-nav {
        display: none;
    }
    .user-section .user-focus .user-focus-block {
        width: 100%;
    }
    .user-section .user-focus .user-focus-block:nth-of-type(2) {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .match-history td:first-of-type {
        display: none;
    }
    .match-history td:last-of-type {
        display: none;
    }
    .switcher-container {
        display: none;
    }
    .search-button {
      display: none;
    }
}
@media screen and (max-width:680px) {
    .search-button {
        box-sizing: border-box;
        width: 100%;
    }
    .search-button input {
        box-sizing: border-box;
        width: 100%;
    }
    .search-button input:focus,
    .search-button input:not(:placeholder-shown) {
        width: 100%;
    }
}
@media screen and (max-width:600px) {
    .sidebar {
        z-index: 49;
        flex-direction: row;
        justify-content: space-between;
        width: calc(100% - 60px);
        height: 75px;
        padding: 15px 30px;
    }
    .sidebar .logo {
        margin: 0;
    }
    .sidebar nav {
        flex-direction: row;
        margin: 0;
    }
    .sidebar nav .other-links {
        flex-direction: row;
        margin-left: 20px;
    }
    .sidebar nav a, .sidebar nav a:last-of-type {
        margin-bottom: 15px;
        margin-left: 15px;
    }
    .sidebar nav a img {
        margin-top: 7.5px;
        margin-bottom: 7.5px;
    }
    nav a span {
        padding: 7.5px;
    }
    main {
        position: static;
        width: 100%;
        margin-top: 105px;
        padding: 30px;
    }
    .match-history td {
        width: 120px;
    }
}