<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/reset.css?v=1.0">
    <link rel="stylesheet" href="/stylesheet.css?v=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    {{> meta }}
  </head>
  <body class="{{#darkTheme}}dark-mode{{/darkTheme}}">
    <div class="search-button">
      <svg class="search-icon" xmlns="http://www.w3.org/2000/svg"
        width="24" height="24"
        viewBox="0 0 24 24"><path d="M 9 2 C 5.1458514 2 2 5.1458514 2 9 C 2 12.854149 5.1458514 16 9 16 C 10.747998 16 12.345009 15.348024 13.574219 14.28125 L 14 14.707031 L 14 16 L 20 22 L 22 20 L 16 14 L 14.707031 14 L 14.28125 13.574219 C 15.348024 12.345009 16 10.747998 16 9 C 16 5.1458514 12.854149 2 9 2 z M 9 4 C 11.773268 4 14 6.2267316 14 9 C 14 11.773268 11.773268 14 9 14 C 6.2267316 14 4 11.773268 4 9 C 4 6.2267316 6.2267316 4 9 4 z"></path>
      </svg>
      <input type="text" placeholder="&nbsp;">
      <div class="search-results">

      </div>
    </div>
    <div class="search-background"></div>

    <div class="switcher-container" title="Switch theme">
      <svg version="1.1" class="switcher switcher-moon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 473.935 473.935" style="enable-background:new 0 0 473.935 473.935;" xml:space="preserve">
        <circle class="switcher-circle" cx="236.967" cy="236.967" r="236.967"/>
        <path class="switcher-object" d="M248.443,242.685c0-52.318,28.516-97.945,70.832-122.289c-15.757-6.601-33.055-10.26-51.21-10.26
          c-73.204,0-132.549,59.341-132.549,132.549c0,73.201,59.341,132.549,132.549,132.549c18.155,0,35.453-3.663,51.21-10.267
          C276.96,340.63,248.443,294.995,248.443,242.685z"/>
        <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
      </svg>
      <svg version="1.1" class="switcher switcher-sun" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 473.931 473.931" style="enable-background:new 0 0 473.931 473.931;" xml:space="preserve">
        <circle class="switcher-circle" style="fill:#F2BE3E;" cx="236.966" cy="236.966" r="236.966"/>
        <circle class="switcher-object" style="fill:#F1EB75;" cx="236.966" cy="236.966" r="117.154"/>
        <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
      </svg>
    </div>
    <div class="sidebar">
      <a class="logo" href="/">
        <img src="/images/o!RL-logo.png" />
      </a>
      <nav>
        <a class="leaderboard-link" href="/leaderboard/">
          <img src="/images/leaderboard.png" />
          <span>Leaderboard</span>
        </a>
        <div class="other-links">
          <a class="discord-link" href="https://kiwec.net/discord">
            <img src="/images/discord.png" />
            <span>Discord</span>
          </a>
          <a class="github-link" href="https://github.com/kiwec/osu-ranked-lobbies">
            <img src="/images/github.png" />
            <span>Github</span>
          </a>
        </div>
      </nav>
    </div>

    <main>
      {{> main }}
    </main>

    <script src="/instantclick.min.js" data-no-instant></script>
    <script data-no-instant>InstantClick.init(50);</script>
    <script src="/scripts.js" type="module"></script>
  </body>
</html>